
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
header h1 {
    font-size: 3rem;
}
button {
    margin: 10px;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#shopify-buy-button {
    margin-top: 20px;
}
